.botao {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #212121;
    background-color: #17d9b1;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
}

.botao:hover {
    opacity: 0.8;
    cursor: pointer;
}
