:root {
    --branca-principal: #FFF;
    --cinza-secundaria: #C0C0C0;
    --azul-botao: #167BF7;
    --cor-fundo: #00030C;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    color: var(--branca-principal);
}

.container {
    height: 100vh;
}

.principal {
    background-image: url('img/Background.png');
    background-repeat: no-repeat;
    background-size: contain;
}