@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --branca-principal: #FFF;
    --cinza-secundaria: #C0C0C0;
    --azul-botao: #167BF7;
    --cor-fundo: #00030C;
    --fonte-principal: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    color: var(--branca-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.principal {
    background-image: url('img/Background.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__botao {
    background-color: var(--azul-botao);
    border-radius: 5px;
    padding: 1em;
    color: var(--branca-principal);
    display: block;
    text-decoration: none;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branca-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundaria);
}