.categories-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 64px;
}

.categories-cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--text-primary-color);
    background-color: var(--background-secondary-color);
    height: 220px;
    text-decoration: none;
}

.categories-cards .card h3 {
    font-size: 28px;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .categories-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
    .categories-cards .card {
        width: 348px;
    }
}

@media screen and (min-width: 1440px) {
    .categories-cards .card {
        width: 281.25px;
    }
}
