.destination-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.img-destination-item {
    width: 100%;
    height: 368px;
}

.img-destination-item.tokyo {
    background: url("../img/tokyo-mobile.jpg") no-repeat;
    background-position: cover;
}

.img-destination-item.osaka {
    background: url("../img/osaka-mobile.jpg") no-repeat;
    background-position: cover;
}

.destination-item h3 {
    margin: 24px 0;
}

.destination-item p {
    margin-bottom: 24px;
}

.destination-item .button {
    width: 100%;
}

/* BLOG */
.blog .img-destination-item {
    height: 300px;
}

.blog .img-destination-item.osaka {
    background: url("../img/blog/osaka-mobile.png") no-repeat;
    background-position: cover;
}

.blog .img-destination-item.hiroshima {
    background: url("../img/blog/hiroshima-mobile.png") no-repeat;
    background-position: cover;
}

.blog .img-destination-item.kyoto {
    background: url("../img/blog/kyoto-mobile.png") no-repeat;
    background-position: cover;
}

@media screen and (min-width: 768px) {
    .img-destination-item {
        height: 452px;
    }

    .img-destination-item.tokyo {
        background: url("../img/tokyo-tablet.jpg") no-repeat;
        background-position: cover;
    }

    .img-destination-item.osaka {
        background: url("../img/osaka-tablet.jpg") no-repeat;
        background-position: cover;
    }

    .destination-item .button {
        width: 280px;
    }

    /* BLOG */
    .blog .img-destination-item.osaka {
        background: url("../img/blog/osaka-tablet.png") no-repeat;
        background-position: cover;
    }
    .blog .img-destination-item.hiroshima {
        background: url("../img/blog/hiroshima-tablet.png") no-repeat;
        background-position: cover;
    }

    .blog .img-destination-item.kyoto {
        background: url("../img/blog/kyoto-tablet.png") no-repeat;
        background-position: cover;
    }
}

@media screen and (min-width: 1024px) {
    .destination-list {
        flex-direction: row;
        gap: 24px;
    }

    .img-destination-item.tokyo {
        background: url("../img/tokyo-desktop.png") no-repeat;
        background-position: cover;
    }

    .img-destination-item.osaka {
        background: url("../img/osaka-desktop.png") no-repeat;
        background-position: cover;
    }

    /* BLOG */
    .blog .img-destination-item.osaka {
        background: url("../img/blog/osaka-desktop.png") no-repeat;
        background-position: cover;
    }
    .blog .img-destination-item.hiroshima {
        background: url("../img/blog/hiroshima-desktop.png") no-repeat;
        background-position: cover;
    }

    .blog .img-destination-item.kyoto {
        background: url("../img/blog/kyoto-desktop.png") no-repeat;
        background-position: cover;
    }
}
