.form p,
.form form,
.form input,
.form textarea {
    width: 312px;
}

.form p {
    font-size: 16px;
    line-height: 28px;
    font-weight: var(--text-weight);
    margin: 0 auto;
    text-align: center;
}

.form form {
    margin: 56px auto;
}

.form input[type="text"],
.form input[type="tel"],
.form input[type="email"],
.form textarea,
.form input::placeholder,
.form textarea::placeholder,
.form label {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--text-weight);
}

.form input[type="text"],
.form input[type="tel"],
.form input[type="email"] {
    display: block;
    height: 40px;
    border: none;
    border-bottom: 4px solid var(--background-secondary-color);
    margin: 0 auto 64px;
    padding: 8px;
}

.form input[type="text"]:focus,
.form input[type="tel"]:focus,
.form input[type="email"]:focus {
    outline: none;
    border-bottom: 4px solid var(--secondary-color);
}

.form label {
    display: block;
    margin-bottom: 8px;
}

.form textarea {
    display: block;
    height: 90px;
    border: 4px solid var(--background-secondary-color);
    border-radius: 8px;
    margin: 0 auto 32px;
    padding: 8px;
}

.form textarea:focus {
    outline: none;
    border: 4px solid var(--secondary-color);
}

.form input::placeholder,
.form textarea::placeholder,
.form label {
    color: #8c8c8c;
}

.form .button {
    display: block;
    border: none;
    width: 280px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .form p {
        font-size: 20px;
        line-height: 32px;
    }

    .form p,
    .form form,
    .form input,
    .form textarea {
        width: 648px;
    }
}

@media screen and (min-width: 1440px) {
    .form p {
        width: 1200px;
    }

    .form form,
    .form input,
    .form textarea {
        width: 790px;
    }

    .form .form-duo {
        display: flex;
        gap: 24px;
    }
}
