body {
    background-color: indigo;
    color: white;
}

header {
    background-color: lightblue;
    color: white;
}

h1 {
    color: #333;
}

p {
    color: darkgray;
}

a {
    background-color: green;
    color: white;
}

footer {
    background-color: gray;
    color: white;
}