hr {
    margin: 0;
}

.rodape {
    background-color: var(--branca);
    padding: 1em;
}

.rodape__lista {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .rodape__titulo {
        font-size: 24px;
    }

    .rodape__lista {
        display: block;
    }

    .rodape__lista__titulo {
        font-size: 14px;
        color: var(--cinza-claro);
        text-transform: uppercase;
    }

    .rodape__lista__item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .rodape__lista__link {
        color: var(--cinza);
        text-decoration: none;
        margin-left: 0.6em;
    }
}

@media screen and (min-width: 1728px) {
    .rodape {
        padding: 3em 0;
    }

    .rodape__lista {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }
}
